<div class="main">
    <app-header></app-header>
    <div class="content" style="height: 100%;">
        <div class="left" style="margin-top: 90px ; margin-left: 100px;">
            <h1 style="font-size: 3vw; margin-left: 20px;">Welcome to <span>Bookstore</span></h1>
            <p style="font-size: medium; font-weight:bold; margin-left: 20px;">Discover worlds within pages. Find your next adventure. Books for every taste, from classics to bestsellers.Dive into our curated collection. Explore genres, authors, and new releases. Your next favorite read awaits!</p>
            <button class="explore-button" routerLink="/books">Explore Now</button>
        </div>
        <div class="right">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCP_RVYl0SU1OCDzr1hwd0e2r8No9NIvXw90YLNn5e9HsPByZXhCbnoi3BzmBoYYHIs7o&usqp=CAU" alt="Books" style="height: 500px; width: 500px; margin-top: 40px; margin-left: 370px; margin-bottom: 200px;">
        </div>
    </div>
    
</div>


